/*General Elements*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: red solid 1px;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: #FDFDFD;
    width: auto;
}

.dark {
    background-color: #40004C;
    color: #FDFDFD;
}

.light {
    background-color: #FDFDFD;
    color: #40004C;
}

.main-butt {
    background-color: #FF0078;
    color: #FDFDFD;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 50px;
    box-shadow: 0 7px 15px black;
}

.main-butt:hover {
    background-color: #FDFDFD;
    color: #FF0078;
}

span {
    color: #FF0078;
}

/*Intro Page*/

.start {
    max-width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
}

.start-left {
    width: 63%;
    text-align: center;
    align-items: center;
}

.start h1 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    margin-top: 30px;
}

.videoarea {
    aspect-ratio: 2 / 1.2;
    background-color: #a8a8a8;
    border: 5px solid black;
    border-radius: 15px;
    margin: 30px auto 0;
}



/*Courses*/
.techs {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.techs h1 {
    text-transform: uppercase;
    color: #FF0078;
    font-size: 45px;
    font-weight: 900;
    margin: 60px auto 10px;
    width: 63%;
}

.techs h5 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}

.courses-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 85%;
}

.course {
    width: 190px;
    height: 190px;
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 7px rgb(53, 53, 53);
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin: auto;
    margin-bottom: 15px;
}

.course-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: #40004C;
    padding: 20px;
}

.course-img {
    background-color: #40004C;
    width: 69%;
    height: 69%;
    border: 3px solid black;
    border-radius: 66px;
    margin-bottom: 10px;
}

/*Who*/

.who-for {
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.who-left {
    width: 63%;
    align-items: center;
    justify-content: left;
}

.who-tit {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 1;
}

.who img {
    width: 32px;
    margin-right: 20px;
}

.list-check {
    margin: auto;
}

.list-entry {
    font-size: 16px;
    margin: 10px 10px 30px;
    display: flex;

}

/*Why*/
.why {
    background-image: linear-gradient(to right, #FFEFF8, #FFEFF8, #BEBAC4);
}

.why-tho {
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.why-left {
    width: 63%;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.why-tit {
    color: #FF0078;
    font-weight: 900;
    font-size: 50px;
    line-height: 1;
    margin-top: 70px;
    margin-bottom: 20px;
}

.why-desc {
    color:#666666;
    font-size: 16px;
    margin-bottom: 30px;
}

/*Modules*/
.modules {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.modules h1 {
    text-transform: uppercase;
    color: #FF0078;
    font-size: 50px;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 10px;
}

.modules h5 {
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 30px;
}

.mode-tit {
    text-transform: uppercase;
    font-weight: bold;
}

.modules-list {
    max-width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modes {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.mode-img {
    width: 61px;
    height: 61px;
    background-color: white;
    border: 2px solid #40004C;
    border-radius: 30px;
    align-items: center;
    margin: 20px auto 10px;
}

.mode {
    width: 30%;
    height: auto;
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 7px rgb(53, 53, 53);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    font-weight: 600;
    font-size: 13px;
}

.mode-tit {
    text-transform: uppercase;
    font-size: 16px;
}

.mode-desc {
    color: #666666;
}

.modules .main-butt {
    width: 377px;
    margin-bottom: 30px;
}

/*Videos*/
.vids {
    background-image: linear-gradient(to left, #FFEFF8, #FFEFF8, #BEBAC4);
    margin: auto;
    align-items: center;
    text-align: center;
}

.vids-tit {
    text-align: center;
    margin: 10px auto 60px;
    padding-top: 5px;
}

.vids-tit h1 {
    color: #FF0078;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin:  45px auto 10px;
}

.vids-tit h5 {
    color: #40004C;
    font-size: 18px;
}

.videos-list {
    max-width: 85%;
    align-items: center;
    margin: auto;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.video {
    width: 270px;
    height: 173px;
    background-color: #a8a8a8;
    border: 3px solid #40004C;
    border-radius: 20px;
    display: inline-flex;
    margin: 10px auto 20px;
}

/*Price*/
.price {
    margin: auto;
    text-align: center;
    align-items: center;
}

.price-desc {
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-desc1 {
    width: 400px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 20px;
}

.price-desc2 {
    width: 100%;
    font-size: 18px;
}

.price-total h1 {
    font-size: 100px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-total h5 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.price .main-butt {
    width: 55%;
    height: 69px;
    margin-bottom: 40px;
}

.price-limit {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 90px;
}

.price-warranty {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin-bottom: 40px;
    width: 125%;
}

.warranty-desc {
    font-size: 16px;
    font-weight: 500;
    margin-left: 40px;
    flex: 1;
    width: 843px;
}

.warranty-medal {
    width: 206px;
    height: 206px;
    background-color: #F9FFFF;
    border: 25px solid #FF0078;
    border-radius: 118px;
}

/*Bonus*/
.bonus-bod {
    margin: auto;
    max-width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bonus-tit {
    font-size: 30px;
    text-transform: uppercase;
    color: #FF0078;
    font-weight: 900;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

.bonus-book {
    background-color: white;
    box-shadow: 0px 0px 7px rgb(53, 53, 53);
    border-radius: 10px;
    width: 100%;
    height: 232px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.bonus-book-tit {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

.bonus-desc {
    width: 80%;
}

.bonus-book-desc {
    color: #666666;
    font-weight: 500;
}

.book {
    background-color: #0087D2;
    width: 19%;
    height: 85%;
    scale: 0.9;
}

.first .book {
    background-color: #73C934;
}

.third .book {
    background-color: #40004C;
}

/*Classes*/

.classes {
    margin: auto;
}

.classes-bod {
    margin: auto;
    max-width: 75%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.classes-tit {
    font-size: 40px;
    font-weight: 900;
    margin-top: 90px;
    width: 82%;
    line-height: 1.2;
}

.classes-options {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 125%;
}

.class {
    width: 369px;
    height: auto;
    margin: auto 10px;
    scale: 0.94;
    box-shadow: 0px 0px 7px rgb(53, 53, 53);
    border-radius: 12px;
    padding: 5px;
}

.class-tit {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.class-desc {
    font-weight: 500;
    font-size: 15px;
}

.two .class-desc {
    color: #666666;
}

.class-logo {
    width: 60px;
    height: 60px;
    border: 2px solid #40004C;
    margin: 20px auto;
    border-radius: 30px;
}

.one {
    background-color: #40004C;
    color: #FDFDFD;
}

.two {
    background-color: white;
}

.three {
    background-color: #FF0078;
    color: #FDFDFD;
}

.one .class-logo,
.three .class-logo {
    border-color: #FDFDFD;
}

.classes .main-butt {
    width: 380px;
}

/*Teacher*/
.teacher {
    background-image: linear-gradient(to right, #FFEFF8, #FFEFF8, #BEBAC4);
}

.teach-bod {
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.teach-stuff {
    width: 63%;
    margin-bottom: 90px;
}

.teach-tit {
    color: #FF0078;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 900;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    line-height: 0.9;
}

.teach-name {
    font-family: 'Charmonman', 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: #FF0078;

}

.teach-desc {
    font-size: 17px;
    color: #666666;
}


/*FAQ*/
.faq-bod {
    max-width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.faq-tit {
    font-size: 55px;
    font-weight: 900;
    color: #FF0078;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}

.faq-desc {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.accordion-item {
    border: none;
    margin-bottom: 20px;
    background-color: #FDFDFD;
}

.accordion-item:first-of-type .accordion-button.collapsed,
.accordion-item:last-of-type .accordion-button.collapsed,
.accordion-item .accordion-button.collapsed {
    background-color: #40004C;
    color: #FDFDFD;
    border-radius: 40px;
    padding: 20px;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button,
.accordion-item .accordion-button {
    background-color: #40004C;
    color: #FDFDFD;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 20px;
    box-shadow: none;
}

.accordion-item:first-of-type .accordion-button:active,
.accordion-item:last-of-type .accordion-button:active,
.accordion-item .accordion-button:active {
    border-color: #40004C;
}

.accordion-body {
    background-color: #40004C;
    color: #FDFDFD;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.accordion-button.collapsed::after,
.accordion-button::after {
    background-color: #FDFDFD;
    background-size: auto;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    align-items: center;
}



/*Footer*/
.foot-bod {
    margin: auto;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-desc {
    margin-top: 70px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.foot .main-butt {
    width: 380px;
    margin-top: 50px;
}

.logo {
    border: 3px solid #FDFDFD;
    width: 215px;
    height: 92px;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding: 5px;
    padding-top: 20px;
}

.logo-tit {
    font-family: 'Charmonman', 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.logo-desc {
    text-transform: uppercase;
    font-size: 14px;
}

.copyright {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}




/*TABLET*/
@media screen and (max-width: 786px) {
    /*Intro*/
    .start {
        max-width: 85%;
    }
    
    .start .start-left {
        width: 52%;
    }



    /*Techs*/
    .techs h1 {
        font-size: 37px;
    }

    .techs h5 {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .courses {
        max-width: 95%;
    }

    .course {
        width: 21%;
        margin: 2% 1%;
    }

    .course-area {
        padding: 15.28% 5px;
    }

    .course-img {
        width: 60%;
        height: auto;
        aspect-ratio: 1 / 1;
    }



    /*Who*/
    .who-for {
        max-width: 85%;
    }

    .who-left {
        width: 52%;
    }

    .who-tit {
        font-size: 300%;
    }



    /*Why*/
    .why-tho {
        max-width: 85%;
    }

    .why-left {
        width: 52%;
    }

    .why-tit {
        width: 100%;
        font-size: 46px;
    }

    .why-desc {
        font-size: 15px;
        margin: 20px auto 40px;
    }



    /*Modules*/
    .modules h5 {
        font-size: 16px;
        margin-bottom: 50px;
    }
    .modules-list {
        max-width: 85%;
    }

    .mode {
        width: 30%;
        height: 250px;
        padding: 10px;
    }



    /*Videos*/
    .vids {
        background-image: linear-gradient(to bottom, #FFEFF8, #FFEFF8, #BEBAC4);
    }

    .vids-bod {
        padding-bottom: 80px;
    }

    .video {
        aspect-ratio: 2 / 1.3;
        width: 30%;
        height: 50%;
    }



    /*Price*/
    .price-desc {
        max-width: 85%;
    }

    .price-total h1 {
        font-size: 85px;
    }

    .price-warranty {
        width: 100%;
    }

    .warranty-medal {
        width: 18%;
        height: 120px;
        border-width: 17px;
    }

    .warranty-desc {
        margin-left: 50px;
        font-size: 15px;
    }



    /*Bonus*/
    .bonus-tit {
        line-height: 1.1;
        font-size: 25px;
    }

    .bonus-bod {
        max-width: 85%;
    }

    .bonus-book {
        height: 172px;
    }

    .bonus-book-desc {
        font-size: 14px;
    }

    .book {
        width: 18%;
    }



    /*Classes*/
    .classes-bod {
        max-width: 85%;
    }

    .classes-tit {
        width: 100%;
        font-size: 35px;
    }

    .classes-tit span {
        font-size: 40px;
    }

    .classes-options {
        width: 100%;
        height: 100%;
    }

    .class {
        width: 30%;
        height: 250px;
        margin: auto;
        padding-bottom: 20px;
    }

    .class-desc {
        font-size: 14px;
        width: 100%;
    }



    /*Teacher*/
    .teach-bod {
        max-width: 85%;
    }

    .teach-stuff {
        width: 53%;
    }

    .teach-tit {
        font-size: 48px;
    }

    .teach-name {
        font-size: 48px;
        text-align: center;
    }



    /*FAQ*/
    .faq-bod {
        max-width: 85%;
    }

    .faq-tit {
        margin-bottom: 0;
    }



    /*Footer*/
    .foot-bod {
        max-width: 85%;
    }

    .copyright {
        margin-bottom: 20px;
    }
}




/*MOBILE*/
@media screen and (max-width: 425px) {
    /*Start*/
    .start .start-left {
        width: 100%;
    }

    .start-left h1 {
        font-size: 28px;
    }



    /*Techs*/
    .techs h1 {
        font-size: 28px;
        width: 100%;
    }

    .techs h5 {
        font-size: 14px;
    }

    .course {
        width: 45%;
        height: 227px;
        margin: 3% 1%;
    }

    .course-img {
        width: 69%;
        height: 69%;
    }



    /*Who*/
    .who-left {
        width: 100%;
    }

    .who-tit {
        font-size: 210%;
    }

    .list-entry {
        font-size: 14px;
    }



    /*Why*/
    .why {
        background-image: linear-gradient(to bottom, #FFEFF8, #FFEFF8, #BEBAC4);
    }

    .why-left {
        width: 100%;
    }

    .why-tit {
        font-size: 237%;
    }



    /*Modules*/
    .modules h5 {
        margin: 10px 3% 50px;
    }

    .mode {
        width: 100%;
        height: auto;
    }

    .mode-desc {
        margin-bottom: 10px;
    }

    .modules .main-butt {
        width: 85%;
    }



    /*Videos*/
    .vids-tit h1 {
        font-size: 40px;
        margin-top: 25px;
    }

    .vids-tit h5 {
        margin: 0 10px;
    }

    .video {
        width: 100%;
        aspect-ratio: 2 / 1.1;
    }



    /*Price*/
    .price-desc1 {
        width: 110%;
        margin-top: 40px;
    }

    .price-desc2 {
        font-size: 16px;
    }

    .price-total h5 {
        font-size: 24px;
    }

    .price .main-butt {
        width: 90%;
    }

    .price-limit {
        margin-bottom: 45px;
    }

    .price-warranty {
        flex-direction: column;
    }

    .warranty-medal {
        aspect-ratio: 1 / 1;
        width: 50%;
        height: auto;
        margin-bottom: 30px;
    }

    .warranty-desc {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 16px;
    }



    /*Bonus*/
    .bonus-tit {
        margin-top: 40px;
        font-size: 26px;
    }

    .bonus-book {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }

    .book {
        width: 60%;
        height: 60%;
        aspect-ratio: 1 / 1.3;
    }

    .bonus-desc {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }



    /*Classes*/
    .classes-tit {
        font-size: 30px;
    }

    .classes-tit span {
        font-size: 34px;
    }

    .classes-options {
        flex-direction: column;
    }

    .class {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 0.6;
    }

    .classes .main-butt {
        width: 90%;
    }



    /*Teacher*/
    .teacher {
        background-image: linear-gradient(to bottom, #FFEFF8, #FFEFF8, #BEBAC4);
    }

    .teach-stuff {
        width: 100%;
    }

    .teach-tit {
        text-align: center;
        font-size: 44px;
        margin-bottom: 15px;
    }

    .teach-name {
        margin-bottom: 20px;
    }



    /*FAQ*/
    .faq-tit {
        margin-top: 30px;
    }



    /*Footer*/
    .foot .main-butt {
        width: 90%;
    }

    .copyright {
        text-align: center;
    }
}




/*PC*/
@media screen and (min-width: 1600px) {
    /*Start*/
    .start {
        max-width: 80%;
    }

    .start-left {
        width: 50%;
    }

    .start h1 {
        font-size: 32px;
    }

    .videoarea {
        margin: 30px;
    }

    .start .main-butt {
        width: 92%;
        margin-top: 0;
    }



    /*Techs*/
    .techs h1 {
        width: 50%;
    }

    .techs h5 {
        margin-bottom: 50px;
    }

    .course {
        width: 20%;
        height: auto;
        aspect-ratio: 1 / 0.9;
        margin: 25px 15px;
    }

    .course-img {
        aspect-ratio: 1 / 1;
        width: 60%;
        height: auto;
        border-radius: 100%;

    }

    .course-area {
        font-size: 18px;
    }



    /*Who*/
    .who-for {
        max-width: 80%;
    }

    .who-left {
        width: 50%;
    }

    .list-entry {
        font-size: 20px;
    }

    .list-check {
        margin: auto 0;
    }



    /*Why*/
    .why-tho {
        max-width: 80%;
    }

    .why-left {
        width: 50%;
    }

    .why-tit {
        font-size: 55px;
    }

    .why-desc {
        font-size: 17px;
    }


    
    /*Modules*/
    .modules h5 {
        margin-bottom: 0;
    }

    .modules-list {
        max-width: 80%;
    }

    .mode {
        aspect-ratio: 1 / 0.6;
        margin-top: 50px;
    }

    .mode-img {
        width: 20%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 100%;
    }

    .mode-tit {
        font-size: 20px;
    }

    .mode-desc {
        font-size: 17px;
    }



    /*Videos*/
    .vids-bod {
        padding-bottom: 80px;
    }

    .videos-list {
        max-width: 80%;
    }

    .video {
        width: 32%;
        height: auto;
        aspect-ratio: 1 / 0.56;
        margin-bottom: 50px;
    }



    /*Price*/
    .price-desc {
        max-width: 60%;
    }

    .price-warranty {
        width: 100%;
    }



    /*Bonus*/
    .bonus-bod {
        max-width: 80%;
    }

    .bonus-tit {
        width: 55%;
    }

    .bonus-book {
        height: auto;
        padding: 10px;
    }

    .book {
        width: 14%;
        height: auto;
        aspect-ratio: 1 / 1.4;
    }

    

    /*Classes*/
    .classes-bod {
        max-width: 80%;
    }

    .classes-tit{
        width: 60%;
        font-size: 36px;
    }

    .classes-tit span {
        font-size: 45px;
    }

    .classes-options {
        max-width: 100%;
    }

    .class {
        aspect-ratio: 1 / 0.6;
        margin: 10px;
        justify-content: space-around;
    }

    .classes .main-butt {
        width: 27%;
    }



    /*Teacher*/
    .teach-bod {
        max-width: 80%;
    }

    .teach-stuff {
        width: 50%;
    }

    .teach-desc {
        font-size: 18px;
    }



    /*FAQ*/
    .faq-bod {
        max-width: 80%;
    }

    .faq-tit {
        margin-bottom: 0;
    }



    /*Footer*/
    .foot-desc {
        font-size: 20px;
    }

    .copyright {
        margin-bottom: 20px;
    }
}